body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #fafafa;
    color: #252b42;
    font-family: Monserrat;
    font-weight: 500;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container{
    max-width: 1076px;
    padding: 0px 15px;
    margin: 0px auto;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container{
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media(max-width:479px){
    .header__container{
        min-height: 70px;
    }
}
.header__menu{
    margin: 0px 0px 0px 133px;
}
@media(max-width:992px){
    .header__menu{
        margin: 0px 0px 0px  80px;
    }
}
@media(max-width:767px){
    .header__menu{
        margin: 0px 0px 0px  40px;
    }
}
@media(max-width:479px){
 .header__menu{
     margin: 0px 0px 0px 20px }
}
.header__logo{
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.menu{
    padding: 5px 0;
}
.menu__list{
    flex-wrap: wrap;
    display: flex;
}

.menu__item:not(:last-child){
    margin: 0px 21px 0px 0px;
}
.menu__item:hover{
    text-decoration: underline;
    color: #737373;
    transition: all 0.3s ease;
}
.menu__link{
    color:#737373;
    font-weight: 600px;
    line-height: 171%;
    width: 45px;
}
.page{
    flex: 1 1 auto;
   }
   .main-block{
     position: relative;
   }
   .page_services{
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
   }
@media(max-width:479px){
    .menu__link{
       font-size: 18px;
    }
   }
   .page{
    flex: 1 1 auto;
   }
   .main-block{
     position: relative;
   }
   .page_services{
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
   }
   .header-block{
      text-align: center;
      letter-spacing: 0.2px;
   }
   .header-block__title{
        font-weight: bold;
        font-size: 40px;
        line-height:142%;
        color:#252B42;
   }
   .header-block__title:not(:last-child){
     margin: 0px 0px 10px 0px;
   }
   .header-block__sub-title{
    font-weight: medium;
   font-size: 20px;
   line-height: 142%;
   color: #737373;
   }
    @media(max-width:992px){
        .header-block__title{
            font-size: 30px;
        }
    }
   .main-block__body{
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width:509px;
   }
   @media(max-width:992px){
    .main-block__body{
        padding: 120px 0px 191px 0px;
    }
   }
   .main-block__body>*:not(:last-child){
         margin: 0px 0px 35px 0px;
   }
   .main-block__title{
      font-size: 58px;
      line-height: 137%;
      font-weight: 800;
      letter-spacing: 0.2px;
   }
   @media(max-width:479px){
    .main-block__title{
       font-size: 42px;
    }
}
    @media(max-width:479px){
        .main-block__title br{
           display: none;
        }
   }
   .main-block__text{
    color: #737373;
    font-size: 20px;
    line-height:150%;
   }
   @media(max-width:479px){
    .main-block__text{
        color: #686868;
    }
   }

.main-block__buttons{
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
@media(max-width:479px){
 .main-block__buttons{
  align-items: center;
 }
}
.main-block__button{
     width: 187px;
     height: 48px;
     border-radius: 37px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 5px 36px;
     font-weight: 700;
     line-height: 150%;
     letter-spacing: 0.2px;
     margin: 10px 0;
   }
   @media(max-width:479px){
    .main-block__button{
        flex: 1 1 50%;
    }
   }
   .main-block__button:not(:last-child){
   margin-right: 10px;
   }
   .shake {
    animation: shake 0.5s ease-in-out;
  }
   .main-block__button_orange {
    background-color: #FF7B47;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .main-block__button_orange:hover {
    transition: all 0.3s;
    color: #fff;
    background-color: #fa4904;
  }
  
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
  }
  
  .shake {
    animation: shake 0.5s ease-in-out;
  }
  
   .main-block__button_border{
    color: #0D5C63;
    border: 1px solid #0D5C63;
   }
   .main-block__button_border:hover{
    transition: all 0.3s;
    opacity: 0.5;
   }
   .main-block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   }
   @media(max-width:1300px){
    .main-block__image img{
   object-position: right;
   }
}
@media(max-width:992px){
    .main-block__image img{
        opacity: 0.5;
        }
}
@media(min-width:670px){
    .services__body{
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px -30px;
    }
}
.services__column{
    padding: 0px 15px;
    flex: 0 1 33.333%;
    margin: 0px 0px 30px 0px;
}
@media(min-width:670px){
    .services__column{
        padding: 0px 15px;
    }
}
@media(max-width:992px){
    .services__column{
        flex:0 1 50%;
        margin: 0px 0px 30px 0px;
    }
}
.services__item{
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0,0,0,0.07);
    background-color: #fff;
    padding: 35px;
}
.item-service_green{
    background-color: #0d5c63;
}
.item-service_green .item-service__title{
    color: #fff;
}
.item-service_green .item-service__text{
    color: #fff;
}
.item-service>*:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.item-service__title{
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
    font-weight: bold;
}
.item-service__text{
    color: #737373;
    font-size: 14px;
    font-weight: medium;
    line-height: 142%;
}
.advantages{
    padding: 80px 0px;
    background-color: #fafafa;
}
@media(max-width:992px){
    .advantages{
        padding: 50px 0px;
    }
}
@media(max-width:767px){
    .advantages{
        padding: 30px 0px;
    }
}
.advantages__header{
    margin: 0px 0px 50px 0px;
}
.advantages__body{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}
.advantages__column{
padding: 0px 15px;
margin: 0px 0px 30px 0px;
flex: 0 1 25%;
}
@media(max-width:1020px){
    .advantages__column{
        flex: 0 1 50%;
    }
}
@media(max-width:560px){
    .advantages__column{
        flex: 0 1 100%;
    }
}
.advantages__item{
 background-color: #fff;
 padding: 30px 40px;
 text-align: center;
}
.advantages__item>*:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.advantages__icon{
height: 48px;
display: flex;
align-items: flex-end;
justify-content: center;
}
.advantages__value{
font-size: 40px;
line-height: 142%;
font-weight: bold;
letter-spacing: 0.2px;
text-align: center;
}
.advantages__text{
font-size: 16px;
font-weight: bold;
line-height: 150%;
letter-spacing: 0.1px;
text-align: center;
color: #737373;
}
.practice{
    padding: 125px 0px 80px 0px;
}
@media(max-width:993px){
    .practice{
        padding: 40px 0px 80px 0px;
    }
}
@media(max-width:767px){
    .practice{
        padding: 0px 0px 40px 0px;
    }
}
.practice__header{
    margin: 0px 0px 45px 0px;
}
@media(max-width:767px){
    .practice__header{
        margin: 0px 0px 25px 0px;
    }
}
.practice__body{
    margin: 0px -20px -30px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column{
    padding: 0px 20px;
    flex: 0 1 25%;
}
@media(max-width:1040px){
    .practice__column{
        padding: 0px 20px;
        flex: 0 1 50%;
    }
}
@media(max-width:630px){
    .practice__column{
        flex: 0 1 100%;
    }
}
.item-practice{
    background-color: #fff;
}
.item-practice__title{
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
    letter-spacing: 0.2px;
}
.header-block__sub-tittle{
    color: #737373;
    font-size: 20px;
    line-height: 142%;
    font-weight: medium;
}
.item-practice__content{
    padding: 30px;

}
.item-practice__link{
    color: inherit;
    display: inline-block;
}
.item-practice__link:hover{
    text-decoration: underline;
}  

.item-practice__link:not(:last-child){
    margin: 0px 0px 15px 0px;
    display: inline-block;
}
.item-practice__title{
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
}
.item-practice__text{
    color: #737373;
    line-height: 142%;
}
.item-practice__image{
    display: block;
    padding: 0px 0px 60% 0px;
}
.header-block__sub-title{
    text-align: center;
}
.whoweare{
    padding: 93px 100px;
}
@media(max-width:950px){
    .whoweare{
        padding: 50px 0px 50px 0px;
    }
}
.whoweare__header{
    margin: 0px 0px 100px 0px;
}
@media(max-width:950px){
    .whoweare__header{
        margin: 0px 0px 30px 0px;
}
}
.whoweare__body{
    display: flex;
    align-items: flex-start;
}
@media(max-width:950px){
    .whoweare__body{
        flex-direction: column-reverse;
    }
}
.whoweare__video{
    flex: 0px 0px 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
}

.whoarewe__video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit:cover;
}
.whoweare__content{
    flex: 1 1 auto;
    padding: 20px 0px 0px 120px;
    font-weight: 800px;
}
@media(max-width:1080px){
    .whoweare__content{
        padding: 0px 0px 0px 50px;
    }
}
@media(max-width:992px){
    .whoweare__content{
        padding: 0px 0px 0px 50px;
    }
}
.whoweare__title{
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
}
@media(max-width:950px){
    .whoweare__title{
        font-size: 24px;

    }
}

.whoweare__title:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.whoweare__text{
    color: #737373;
    line-height: 142%;
}
.whoweare__text:not(:last-child){
    margin: 0px 0px 50px 0px;
}
.whoweare__items{
    margin: 50px 0px 0px 0px;
}
.item-whoweare{
    display: flex;
}
.item-whoweare__icon{
    flex: 0 0 32px;
}
.item-whoweare__body{
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
}
.item-whoweare__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.item-whoweare__title:not(:last-child){
  margin:  0px 0px 5px 0px;
  line-height: 142%;
}
.item-whoweare__text{
    color: #737373;
    white-space: nowrap;
    line-height: 142%;
    text-overflow: ellipsis;
    width: 225px;
    overflow: hidden;
}
.whoweare__item:not(:last-child){
margin: 0px 0px 30px 0px;
}
@media(max-width:950px){
    .whoare__body{
        flex-direction: column;
        align-items: stretch;
    }
    .whoare__video{
        padding: 0px 0px 56.25% 0px;
    }
}
@media(max-width:767px){
   .whoweare{
    padding: 20px 0px 50px 0px;
   }
}
.page__clients:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.clients{
    padding: 58px 0;
}
.clients__items{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.clients__item{
    flex: 0 1 16.6667%;
    text-align: center;
    min-width:150px;
}
.clients__item img{
    max-width: 100%;
}
.subscribe{
position: relative;
padding: 0px 0px 20p 0px;
}
.subscribe__body{
    position: relative;
    z-index: 2;
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    align-items: center;
    background: #17213c;
    border-radius: 2px;
}
@media(min-width:1070px){
    .subscribe__body{
      margin: 0px 30px;
    }
}
@media(min-width:810px){
    .subscribe__title{
        max-width: 266px;
    }
    .subscribe__body{
        display: flex;
        justify-content: space-between;
    }
}

.subscribe__title{
    color: #fff;
    max-width: 266px;
    flex: 0 1 50%;
    font-size: 24px;
    line-height: 133%;
    font-weight: 700;
}
@media(max-width:810px){
   .subscribe__title{
    margin: 0px 0px 20px 0px;
   }
   .subscribe__body{
    margin: 0px -15px;
    padding: 20px 15px;
   }
}
.subscribe__form{
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.subscribe__button{
    color: #fff;
    padding: 0px 22px;
    height: 58px;
    width: 117px;
    background-color: #FF7B47;
    border: 1px solid #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
}
.subscribe__input{
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    padding: 0px 20px;
    border: 1px solid #f9f9f9;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    color: #737373;
}
.subscribe__input:focus{
    color: #000;
}
.subscribe__body::before{
    display: flex;
    margin: 0px 30px;
    z-index: 2;
    content: "";
    position: absolute;
    bottom: 0;
    height: 77px;
    left: 0;
    background: #252b42;
}
.item__getintouch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding:50px 15px;
 }
.getintouch{
    background-color: #F3F3F3;
    padding: 80px 0px 148px 0px;
}
.getintouch__header{
    margin: 0px 0px 80px 0px;
}
.getintouch__items{
 margin: 0px -15px;
}
@media(min-width:992px){
    .getintouch__items{
        margin: 0;
        display: flex;
        align-items: center;
}
}
@media(max-width:992px){
    .getintouch__header{
        margin: 50px 0px 50px 0px;
    }
}
@media(max-width:767px){
    .getintouch__header{
        margin: 0px 0px 30px 0px;
    }
}
.getintouch__item{
    flex: 0 1 33.333%;
}

.item-getintouch__emails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.item-getintouch__email{
    color: inherit;
    font-weight: 600;
line-height: 150%;
font-size: 16px;
}
.item-getintouch__email:hover{
text-decoration: underline;
}
.item__getintouch>*:not(:last-child){
    margin: 0px 0px 15px 0px;
}
.item-getintouch__label{
    color: #252B42;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.item-getintouch__button{
    font-weight: semibold;
    display: flex;
    min-height: 44px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #FF7B47;
    color: #FF7B47;
    border-radius: 5px;
    font-size: 14px;
    line-height: 142%;
    padding: 5px 20px;
    transition: all 0.3s ease 0s;

}
.item-getintouch__button:hover{
background-color: #FF7B47;
color:#fff;
}
.item__getintouch_active{
    background-color: #252B42;
    color: #fff;
    padding: 80px 15px;
}
.item-getintouch__label_2{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.item-getintouch__button_2{
    font-weight: semibold;
    display: flex;
    min-height: 44px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 142%;
    padding: 5px 20px;
    transition: all 0.3s ease 0s;
}
.contact{
    background-color: #FAFAFA;
    padding: 42px 0;
}
@media(min-width:767px){
    .contact__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact__content{
        padding:0px 20px 0px 0px;
    }
    
}
.contact__title{
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}
.contact__title:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.contact__text{
    color: #737373;
    font-size: 14px;
    line-height: 142%;
}
.contact__button{
    padding: 5px 40px;
    letter-spacing: 0.2px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
   background-color: #FF7B47;
   font-size: 14px;
   line-height: 200%;
   border-radius: 5px;
   border: 1px solid #FF7B47;
   min-height: 58px;
}
.contact__button:hover{
    transition: all 0.3s ease 0s;
    background-color: #fa4904;
    font-size: 20px;
}
.contact__content{
    padding:0px 0px 20px 0px;
}
.footer__top{
    background-color: #17213C;
    padding: 30px 0;
}
.footer__main{
    display: flex;
}
.footer__column{
    padding: 20px;
    flex:0 1 20%;
    padding: 0 15px;
    flex: 0 1 16.6667%;
    min-width: 170px;
}
@media(max-width:992px){
    .footer__column{
        flex: 0 1 25%;
}
.footer__column:last-child{
    flex: 0 1 100%;
}
}
.footer__column:last-child{
    flex: 0 1 33.334%;
}
.footer__label{
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    margin: 0px 0px 20px 0px;
}
.menu-footer__link{
    color: #fff;
    display: inline-block;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.menu-footer__link:hover{
    text-decoration: underline;

}
.menu-footer__item:not(:last-child){
margin: 0px 0px 10px 0px;
}
.footer__contact{
    color: #fff;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
}
.footer__contacts{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    margin: 0px 0px 20px 0px;
}
.contacts-footer__item:not(:last-child){
    margin: 0px 0px 12px 0px;
    }
    .contacts-footer__item{
        display: flex;
        align-items: center;
        min-height: 30px;
        padding: 0px 0px 0px 34px;
        line-height: 142%;
        color: #fff;
    }
    .contacts-footer__item:hover{
        text-decoration: underline;
    }
    .contacts-footer__item_phone{
        background: url(../img/footer/bx_bx-phone.svg) 0 0 no-repeat;
    }
    .contacts-footer__item_map{
        background: url(../img/footer/bx_bx-map.svg) 0 0 no-repeat;
    }
    .contacts-footer__item_email{
       background: url(../img/footer/carbon_send-alt.svg) 0 0 no-repeat;
    }
    .footer__bottom{
        padding: 25px 0;
    }
    .footer__container{
        display: flex;
        align-items: center;
    }
    @media(min-width:767px){
        .footer__container{
            display: flex;
           justify-content: space-between;
            align-items: center;
        } 
    }
    .social{
        display: flex;
        align-items: center;
    }
    .social__item:not(:last-child){
      margin: 0px 20px 0px 0px;
    }
    .footer__copy{
        color: #737373;
        line-height: 171%;
    }
    @media(max-width:767px){
        .footer__container{
            flex-direction: column;
        }
        .footer__copy{
            margin: 0px 00px 15px 0px;
            text-align: center  q;
        }
    }